button{ 
  border: none; 
  width:22%; 
  padding: 15px 32px; 
  background-color: blue; 
  color: white; 
  text-align: center; 
  display: inline-block; 
  font-size: 16px; 
  margin: 10px 7px; 
  } 
  #t3{ 
  background-color: red; 
  color:white; 
  } 
  #result{ 
  width:66%; 
  } 
  #t4{ 
  background-color:gainsboro; 
  height:300px; 
  } 
  h1{ 
    text-align: center; 
    }
    
  